.brat-modal .modal-button-container {
  margin-top: 5px !important;
}

.brat-modal .valid-repository {
  border-color: var(--color-green) !important;
}
.brat-modal .invalid-repository {
  border-color: var(--color-red) !important;
}
.brat-modal .validation-error {
  border-color: var(--color-orange) !important;
}

.brat-modal .disabled-setting {
  opacity: 0.5;
}
.brat-modal .disabled-setting:hover {
  cursor: not-allowed;
}

.brat-version-selector {
  width: 100%;
  max-width: 400px;
  justify-content: left;
}
